h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
}

body {
    background-color: white;
    padding: 30px;
}

div {
    font-weight:bold;
}

.side-players {
    height: 100%;
    width: 40%;
    margin-top: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: rgba(0,0,0,0.04);
}

a:active {
    background-color: rgba(0,0,0,0.04);
}

table {
    margin: 10px 0;
    padding: 7px 0;
    width: 100%;
    border: none;
    border-radius: 10px;
}

table:hover {
    background-color: rgba(0,0,0,0.04);
    border-radius: 5%;
}

table:active {
    background-color: rgba(0,0,0,0.04);
}

.player-id {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.3em;
    width: 40px;
    text-align: center;
}

.player-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: black;
}

.player-pos {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: black;
}

.editStat {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    border: 0.1px solid;
    padding: 4px 16px;
    margin: 0px 16px 0 0;
    font-weight: 800;
}

.editStat:hover{
    background-color: #F4A41E;
    color: white;
}

.section {
    font-weight: 800;
}
@media screen and (max-width: 1200px) {
    .side-players {
        width: 40%;
    }    
}

@media screen and (max-width: 600px) {
    .side-players {
        width: 50%;
    }    
}